
.pages-page {
  padding: 1rem;

  @media (min-width: 750px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__file {
    margin-bottom: 1rem;

    &__filename {}

    &__id {
      font-size: 1rem;
    }
  }

  &__container {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-row-gap: 1rem;
    grid-template-areas: 
      "pages" 
      "templates";

    @media (min-width: 750px) {
      grid-template-rows: auto;
      grid-template-columns: auto auto;
      grid-column-gap: 1rem;
      grid-template-areas: 
        "pages templates";
    }
  }

  &__pages {
    grid-area: pages;

  }

  &__templates {
    grid-area: templates;

  }

  &__create-button {
    margin-bottom: 0px;
    width: 100%;
  }
}