@import './colors';

@mixin sherpon-button {
  display: inline-block;
  cursor: pointer;
  min-width: 150px;
  height: 35px;
  padding: 0 30px;
  border-radius: 3px;
  /***/
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 35px;
  align-items: center;
  text-align: center;
}

.sherpon-button-primary {
  @include sherpon-button;
  background: $colorPrimary;
  border: none;
  color: white;
}

.sherpon-button-primary-outline {
  @include sherpon-button;
  background: transparent;
  border: none;
  border: 1px solid $colorPrimary;
  color: $colorPrimary;
}

.sherpon-button-accent {
  @include sherpon-button;
  background: $colorAccent;
  border: none;
  color: white;
}

.sherpon-button-accent-outline {
  @include sherpon-button;
  background: transparent;
  border: none;
  border: 1px solid $colorAccent;
  color: $colorAccent;
}

/***
  social
*/

.sherpon-button-facebook {
  @include sherpon-button;
  background: #256FFF;
  border: none;
  color: white;
}