@import '../../styles/style/colors';

.sidebar-wrapper {}

.sidebar-overlay {
  position: absolute;
  background-color: $colorOverlay;

  @media (min-width: 750px) {
    position: relative;
  }

  &:not(expanded) {
    width: 0px;
    height: 0px;
    opacity: 0;
    transition-property: opacity, width, height;
    transition-duration: .3s, 0s, 0s;
    transition-timing-function: linear;
    transition-delay: 0s, .3s, .3s;
  }

  &.expanded {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity .2s linear;

    @media (min-width: 750px) {
      width: 0px;
      height: 0px;
    }
  }
}

.sidebar {
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  height: 100vh;
  position: absolute;

  @media (min-width: 750px) {
    position: relative;
  }

  &__menu {
    padding: 20px 20px 0px 20px;
    margin-bottom: 40px;
  }

  &__link__list {
    padding: 0px 9px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      /*min-width: 48px;*/
      height: 48px;
      border-radius: 50px;
      text-decoration: none;
      color: $colorText;
      padding: 0px 11.5px;
      margin-bottom: 20px;
    }

    a.selected {
      background: $colorPrimary;
      color: white;
    }
  }

  &__link__item {

    &__title {
      display: block;
      overflow: hidden;
    }

    &__title:not(expanded) {
      width: 0px;
      margin-left: 0px;
      transition: all .2s linear;
    }

    &__title.expanded {
      width: 150px;
      margin-left: 15px;
      transition: all .2s linear;
    }

    &__home:not(selected)::before{
      content: url('./images/linkHome.svg');
      height: 25px;
      width: 25px;
    }
    &__home.selected::before{
      content: url('./images/linkHomeInverse.svg');
      height: 25px;
      width: 25px;
    }

    &__pages:not(selected)::before{
      content: url('./images/linkPages.svg');
      height: 25px;
      width: 25px;
    }
    &__pages.selected::before{
      content: url('./images/linkPagesInverse.svg');
      height: 25px;
      width: 25px;
    }

    &__media:not(selected)::before{
      content: url('./images/linkMedia.svg');
      height: 25px;
      width: 25px;
    }
    &__media.selected::before{
      content: url('./images/linkMediaInverse.svg');
      height: 25px;
      width: 25px;
    }

    &__settings:not(selected)::before{
      content: url('./images/linkSettings.svg');
      height: 25px;
      width: 25px;
    }
    &__settings.selected::before{
      content: url('./images/linkSettingsInverse.svg');
      height: 25px;
      width: 25px;
    }
  }

  &__back-to-account {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #EBEBEB;
    width: 100%;
    max-height: 58px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      /*min-width: 48px;*/
      height: 58px;
      text-decoration: none;
      color: $colorText;
    }

    img {
      margin: 20px 20px 20px 20px;
    }

    &__title {
      display: block;
      overflow: hidden;
    }

    &__title:not(expanded) {
      width: 0px;
      margin-left: 0px;
      transition: all .2s linear;
    }

    &__title.expanded {
      width: 150px;
      margin-left: 15px;
      transition: all .2s linear;
    }
  }
}