.media-page {
  
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0rem 1rem;

    @media (min-width: 750px) {
      justify-content: flex-start;
      padding: 2rem 2rem 0rem 2rem;
    }

    h4 {
      margin-right: 2rem;
      margin-bottom: 0px;
    }

    button {
      min-width: 100px;
      margin-bottom: 0px;
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 0rem 1rem 1rem;

    @media (min-width: 750px) {
      padding: 2rem 0rem 2rem 2rem;
    }
  }
}